.title {
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	margin-top: 85px;
}
.greeting {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #8C8C8C;
	margin-top: 20px;
}
.functionality {
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	margin-top: 60px;
}
.menu {
	max-width: 440px;
	margin: 0 auto;
	position: sticky;
	top: 0;
}
@media (max-width: 1000px) { 
	.hidden {
		display: none;
	}
}