.container {
	width: 100%;
	position: relative;
	box-sizing: content-box;
}
  .search{
	outline: none;
	vertical-align: top;
	padding: 15px 15px 15px 20px;
	display: block;
	width: 100%;
	background: #FFFFFF;
	border-radius: 20px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8C8C8C;
	border: none;
font-family: Jost;
  }
  .search:hover{
	padding: 13px 13px 13px 18px;
	border: 2px solid #FBE0DC;
  }
  .search:focus{
	padding: 13px 13px 13px 18px;
	border: 2px solid #FF868E;
	color: #1D1D1D;
  }
  .submit{
	position: absolute; 
	top: 10px; 
	right: 12px;
	z-index: 9;
	outline: none;
	border: none;
	display: inline-block;
	background-color: #FBE0DC;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	background-image: url('./vector-search.png');
	background-repeat: no-repeat;
	background-position: center;
  }

  .submit:hover{
	background-color: #FF868E;
	background-image: url('./search.png');
  }
  @media (max-width: 670px) { 
	.search{
		margin-top: 10px;
	}
	.submit{
		top: 20px; 
	  }
}