<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
	<title>Pets Paw</title>
	<link rel="stylesheet" href="style.css">
</head>

<body class="body-dark">
	<div class="wrapper">
		<aside class="menu">
			<div class="logo">
				<img src="img/Logo.png" alt="logo">
			</div>
			<h1 class="menu-title">Hi intern!</h1>
			<p class="menu-greeting">Welcome to MI 2022 Front-end test</p>

			<h2 class="functionality-title">Lets start using The Cat API</h2>
			<div class="functionality">
				<div class="functionality-item" id="voting">
					<div class="functionality-item__img-container">
						<img class="functionality-item__img" src="img/vote-table.png" alt="voting">
					</div>
					<button class="button">voting</button>
				</div>
				<div class="functionality-item" id="breeds">
					<div class="functionality-item__img-container">
						<img class="functionality-item__img" src="img/pet-breeds.png" alt="breeds">
					</div>
					<button class="button">breeds</button>
				</div>
				<div class="functionality-item functionality-item-active" id="gallery">
					<div class="functionality-item__img-container">
						<img class="functionality-item__img" src="img/images-search.png" alt="gallery">
					</div>
					<button class="button button-active">gallery</button>
				</div>
			</div>
		</aside>
		<main class="content">
			<div class="content-background bg-dark">
				<img class="content-background-img" src="img/girl-and-pet 1.png" alt="background">
			</div>
		</main>
	</div>
</body>

</html>