.button {
	color: #FF868E;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	width: 100%;
	padding: 10px 0;
	background: #FFFFFF;
	border-radius: 10px;
	cursor: pointer;
	border: none;
}
.button:hover {
	background: #FBE0DC;
}
.active {
	color:#FFFFFF;
	background: #FF868E;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	width: 100%;
	padding: 10px 0;

	border-radius: 10px;
	cursor: pointer;
	border: none;
}