.functionality {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
/* @media only screen and (max-width: 997px) {
	.functionality {
		justify-content: space-between;
		flex-direction: column;
	}
}
@media only screen and (max-width: 375px) {
	.functionality {
		flex-direction: column;
	}
  } */

  @media  (max-width: 412px) {
	.functionality {
		flex-direction: column;
	}
  } 