* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Jost', sans-serif;
	color: #1D1D1D;
  background: #E5E5E5;
}
.wrapper {
	padding: 30px;
	margin: 0 auto;
	display: grid;
	grid: "aside main";
	grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 768px) {
	.wrapper {
		grid: 
		"aside" 
		"main";
		grid-template-columns: 100% 0%;
	}
  }